// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 0 auto;
  max-width: 100%;
  padding: 1em 0;
}

h1,h2,h3,p {
  margin-top: 5%;
  text-align: center;
}

.h1dash {
  color: #646663;
  text-decoration: underline #e8c1b2;
}



.p2 {
  margin-top: 20%;
  color: #91b77c;
  text-align: left;
  filter: opacity(40%);
}

.p2 a:visited {
  color: #91b77c;
}

.p2 a:hover {
  color: #000000;
  filter: opacity(100%);
}

.grid {
  margin-top: 5%;

  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: minmax(150px, auto);
  margin-left: -30px;
  margin-right: 30px;
  grid-gap: 1em;

}

.module {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  
  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    margin: 0;
  }
}