





.form-container {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  background-color:#B1AEAC;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 150px;
}
