// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.hero {
  width: 700px;
  height: 467px;
  background-image: url(image-path("jazmin-quaynor-QnGqi8Rd-DA-unsplash.jpg"));
  background-size:  cover;
}