
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100|Petit+Formal+Script&display=swap');


body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
  margin-top: 4%;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/jazmin-quaynor-QnGqi8Rd-DA-unsplash.jpg");
height: 90%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
filter: brightness(155%);
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
font-family: 'Petit Formal Script', cursive;
font-size: 80px;
transform: translate(-50%, -50%);
color: white;
}

.baby-text {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  font-family: 'Josefin Sans', sans-serif;
  transform: translate(-50%, -50%);
  color: white;
  }

  // .baby-text-wrap {
  //   display: flex;
  //   width: 100%;
  //   color: #000000;
  //   font-size: 100px;
  // }

  .baby-text-links {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    font-family: 'Josefin Sans', sans-serif;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    }

    .baby-text-links a:hover {
      color: #91b77c;
      }

    .baby-text-links a:visited {
      color: #FFFFFF;
      }

    .baby-text-links a:active {
      color: #e8c1b2;
      }